<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row text-center">

        <!-- Email -->
        <div class="col-md-4">
          <div class="footer-icon">
            <i class="fa-solid fa-envelope"></i>
          </div>
          <h4>Contact Us via Email</h4>
          <p>
            <a href="mailto:info@koinetmedia.com" class="contact-link">
              info@koinetmedia.com
            </a>
          </p>
        </div>

        <!-- Address -->
        <div class="col-md-4">
          <div class="footer-icon">
            <i class="fa-solid fa-location-dot"></i>
          </div>
          <h4>Our Office</h4>
          <p>
            <a href="https://www.google.com/maps/place/Pune,+Maharashtra,+India+411014" target="_blank" class="contact-link">
              Pune, Maharashtra, India 411014
            </a>
          </p>
        </div>

        <!-- Phone -->
        <div class="col-md-4">
          <div class="footer-icon">
            <i class="fa-solid fa-phone"></i>
          </div>
          <h4>Contact Us</h4>
          <p>
            <a href="tel:+919021568448" class="contact-link">
              +91 90215 68448
            </a>
          </p>
        </div>

      </div>
    </div>
  </div>

  <!-- Bottom -->
  <div class="footer-bottom">
    <div class="container text-center">

      <ul class="footer-links">
        <li><a href="privacy-policy">Privacy Policy</a></li>
        <li><a href="footerpages/CaseStudies.html">Case Studies</a></li>
        <li><a href="footerpages/GDPR.html">GDPR</a></li>
        <li><a href="footerpages/Terms-Condition.html">Terms & Conditions</a></li>
        <li><a href="footerpages/Media_Kit.html">Media Kit</a></li>
      </ul>

      <p>&copy; 2026 <strong>Koinet Media</strong>. All rights reserved.</p>

      <div class="social-icons">
        <a target="_blank" href="https://x.com/KoinetMedia"><i class="fa-brands fa-x-twitter"></i></a>
        <a target="_blank" href="https://www.facebook.com/KoiNetMedia/"><i class="fa-brands fa-facebook"></i></a>
        <a target="_blank" href="https://www.instagram.com/koinetmedia1/"><i class="fa-brands fa-instagram"></i></a>
        <a target="_blank" href="https://www.linkedin.com/company/koinet-media/posts/"><i class="fa-brands fa-linkedin"></i></a>
      </div>

    </div>
  </div>
</footer>