  <div class="container">
        <div class="row">
            <div class="col-12" style="margin-top: 70px;">
                <div>
                    <h1 class="fw-bold text-center my-5">
                        <span class="text-primary">C</span>ase <span class="text-primary">S</span>tudies Of <span class="text-primary">K</span>oinet <span class="text-primary">M</span>edia</h1>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <img src="/assets/images/MediaKit.jpg" alt="casestudies" class="img-fluid" />
                        </div>
                        <div class="text-center my-3">
                            <button id="open_modal" class="btn btn-primary btn-lg p-4 hover_btn">Download Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="welcomeModal" tabindex="-1" aria-labelledby="welcomeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content p-2 shadow border-0 rounded-5">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <img src="../images/knmnew_prev_ui.png" alt="" class="img-fluid mb-3" width="200px" height="50px">
                    <p class="fw-bold fs-4">Case-Studies Of Koinet Media.</p>
                    <p class="fs-2 fw-bold">Thank you for your interest! </p>
                    <p>Our team will get in touch at after downloading our case-studies</p>
                    <form class="position-relative" action="https://formspree.io/f/xyzggpzp" method="POST">
                        <input class="form-control popupBg w-100 py-3 ps-4 pe-5" id="emailInput" type="email" name="email" placeholder="Enter your email " required>
                        <button type="submit" id="downloadpdfbutton" class="btn btn-danger py-2 position-absolute top-0 end-0 mt-2 me-2 rounded-3">Download PDF</button>
                    </form>
                </div>
            </div>
        </div>
    </div>